body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.container {
  margin-top: 70px;
}

h1 {
  color: #ffffff;
}

#dropzone {
  width: 420px;
  height: 200px;
  margin: 20px auto;
  border: 2px dashed #666;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  transition: 0.3s;
}

#dropzone:hover {
  border-color: #fff;
  color: #fff;
}

button {
  padding: 10px 20px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background: #45a049;
}

pre {
  width: 70%;
  margin: 20px auto;
  background: #1a1a1a;
  padding: 15px;
  text-align: left;
  white-space: pre-wrap;
  border-radius: 6px;
}
